* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $base-background-color;
}

.site-header {
    flex: 0 0 auto;
    align-items: center;
    background-image: url('../../../assets/img/header_pattern.png');
    background-repeat: repeat;
    background-color: $primary-color;
    color: $font-color;
    position: relative;
}

.main {
    flex: 1 0 auto;
    padding: 2em;
    padding-top: 7em;
    min-height: 40em;
    max-width: 45%;
    margin: auto;
    color: $font-color;
}

.site-footer {
    flex: 0 0 auto;
    padding: 2em;
    background: $primary-color;
    color: $font-color;
    text-align: center;
}
