html,
body {
    font-size: 100%;
    font-family: $main-font-family;
}

h1 {
    font-family: $header-font-family;
}

h2,
h3,
h4 {
    margin-bottom: $line-spacing;
}

h2 {
    text-decoration: underline;
}

p,
ul,
ol {
    font-size: $base-font-size;
    margin-bottom: $line-spacing;
    line-height: $base-line-height;
}

ul,
ol {
    padding-left: $base-font-size * 2;
}

table {
    margin-bottom: $line-spacing;
}
