//Fonts
$header-font-family: 'Permanent Marker', cursive;
$main-font-family: 'Inter', 'Helvetica', sans-serif;
$base-font-size: 1em;
$base-line-height: 1.4;
$line-spacing: $base-font-size * $base-line-height;

//Colors
$primary-color: #c79800;
$secondary-color: #7a5e00;
$dark-color: #000;
$accent-color: #fbc100;
$font-color: #faf8f2;
$border-color: #8a8a89;
$foreground-color: #494b4d;
$base-background-color: #272829;
$line-color: #494b4d;
