//Fonts
$header-font-family: 'Permanent Marker', cursive;
$main-font-family: 'Inter', 'Helvetica', sans-serif;
$base-font-size: 1em;
$base-line-height: 1.4;
$line-spacing: $base-font-size * $base-line-height;

//Colors
$accent-color: #fbc100;
$secondary-color: #52799a;
$font-color: #27292b;
$base-background-color: #fffefb;
