//Fonts
$header-font-family: 'Permanent Marker', cursive;
$main-font-family: 'Inter', 'Helvetica', sans-serif;
$base-font-size: 1em;
$base-line-height: 1.4;
$line-spacing: $base-font-size * $base-line-height;

//Colors
$primary-color: #f0b801;
$secondary-color: #b18a0a;
$dark-color: #7a5e00;
$accent-color: #1179ad;
$font-color: #3e3e3f;
$base-background-color: #faf8f2;
$line-color: #c9c9ca;
