@import url('https://fonts.googleapis.com/css2?family=Inter&family=Permanent+Marker&display=swap');
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/variables-dark';
@import '../../shared/scss/base';
@import '../../shared/scss/report';

body {
    font-weight: 250;
}

/* Header */

.site-header {
    background-color: $dark-color;
}

.title {
    background-color: rgb(0, 0, 0, 0.7);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* Main */

.main {
    a,
    a:visited {
        color: $primary-color;
    }

    a:hover {
        color: $accent-color;
    }
}

.flash-img {
    filter: brightness(0.85);
}

.screenshot {
    filter: brightness(0.85) contrast(1.2);
}

.kmom-box {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 7px 9px $dark-color;
    background-color: $foreground-color;

    h2 {
        background-color: $primary-color;
        color: $font-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    a,
    a:visited {
        color: $font-color;
    }

    a:hover {
        color: $base-background-color;
    }
}

@import '../../shared/scss/responsive';
