@import url('https://fonts.googleapis.com/css2?family=Inter&family=Permanent+Marker&display=swap');
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/variables';
@import '../../shared/scss/base';

/* Main */
.main {
    a,
    a:visited {
        color: $accent-color;
        font-weight: bold;
    }

    a:hover {
        color: $secondary-color;
    }
}

@import '../../shared/scss/report';
@import '../../shared/scss/responsive';
