@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fffefb;
    font-family: 'News Cycle', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #fbc100;
    color: #2b2e30;
    padding: 0 2em;
}

.title {
    text-align: right;
    padding-top: 1em;
}

.title h1 {
    font-size: 3em;
}

.site-header a, .site-header a:visited {
    color: #2b2e30;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
    max-width: 60%;
    margin: auto;
}

.main a,
a:visited {
    color: black;
    font-weight: bold;
}

.main a:hover {
    color: #fbc100;
}

.flash-img {
    display: block;
    margin: auto;
}

.headshot {
    padding: 1em;
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: #fbc100;
    color: #2b2e30;
    padding: 2em;
    text-align: center;
}

.site-footer a {
    color: #f0f0f0;
}

.social {
    float: right;
    font-size: 3rem;
}